alembic==1.11.1
blinker==1.6.2
click==8.1.6
dnspython==2.4.0
email-validator==2.0.0.post2
Flask==2.3.2
Flask-Login==0.6.2
Flask-Migrate==4.0.4
Flask-PyMongo==2.3.0
Flask-SQLAlchemy==3.0.5
Flask-WTF==1.1.1
greenlet==2.0.2
h11==0.14.0
httpcore==0.17.3
itsdangerous==2.1.2
Mako==1.2.4
Pillow==10.0.0
pymongo==4.4.1
SQLAlchemy==2.0.19
Werkzeug==2.3.6
WTForms==3.0.1
