{% extends "base.html" %}
{% block content %}

    <!-- asta e de la index din template -->

    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <!-- Post preview-->
                {# Go through each blog post #}
                {% for post in blog_posts.items %}
                <div class="post-preview">
                    
                    <a href="{{ url_for('blog_posts.view_post', blog_post_id=post.id) }}">
                        <h2 class="post-title">{{ post.title}}</h2>
                    </a>
                    <p class="post-meta">
                        Published by
                        <a href="{{ url_for('users.user_posts', username=post.author.username) }}">{{post.author.username }}</a>
                        on <span>{{ post.date.strftime('%d-%m-%Y') }}</span>
                    </p>
                    
                </div>
                <!-- Divider-->
                <hr class="my-4" />
                {% endfor %}
                

            </div>
        </div>
    </div>





    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            {% for page_num in blog_posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
            {% if blog_posts.page == page_num %}
            <li class="page-item disabled">
                <a class="page-link" href="{{ url_for('core.index', page=page_num) }}">{{ page_num }}</a>
            </li>
            </li>
            {% else %}
            <li class="page-item"><a class="page-link" href="{{ url_for('core.index', page=page_num) }}">{{ page_num
                    }}</a></li>
            {% endif %}
            {% endfor %}
    </nav>




    {% endblock %}