{% extends "base.html" %}
{% block content %}
<!-- Main Content-->
<main class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <h2>About ConspireHub</h2>
                <p>Welcome to ConspireHub, your platform for exploring and understanding conspiracy theories. At ConspireHub, we recognize the human fascination with the unknown and the desire to question the world around us. We provide a space where you can delve into various conspiracy theories, analyze their origins, implications, and evidence, and engage in critical thinking and informed discussions.</p>
                <h2>Our Mission</h2>
                <p>Our mission at ConspireHub is to foster a balanced and open-minded exploration of conspiracy theories while promoting critical thinking and rational discourse. We believe that understanding conspiracy theories is essential not only for unraveling the mysteries of the world but also for cultivating a society that values evidence-based discussions over misinformation and sensationalism.</p>
                <h2>Our Approach</h2>
                <p>At ConspireHub, we are committed to maintaining a responsible and ethical approach to discussing conspiracy theories. We acknowledge that while some theories may challenge mainstream narratives, not all theories are based on credible evidence. We strive to strike a balance between exploring intriguing alternative perspectives and avoiding the spread of baseless or harmful information.</p>
                <h2>Join Us</h2>
                <p>Whether you're a curious individual, a skeptic, or a passionate enthusiast, ConspireHub welcomes you to embark on a journey of discovery with us. Explore the depths of conspiracy theories, engage in thoughtful conversations, and enhance your critical thinking skills in a respectful and informed environment. Remember, the pursuit of knowledge is most fruitful when guided by reason and evidence.</p>
            </div>
        </div>
    </div>
</main>
{% endblock %}