{% extends "base.html" %}
{% block content %}
<div class="container-fluid">
    <h1>Info about blog</h1>
    <p>Welcome to the HealthyBites Meal Prep blog, where we are dedicated to helping you achieve your health and fitness
        goals
        through the power of nutrition. As a leading provider of nutritious and delicious meal preparation services, we
        believe
        that a balanced diet is the foundation for a healthy and fulfilling life. In this blog, we'll share valuable
        insights,
        tips, and recipes to help you make informed choices and embark on a journey of well-being.</p>
</div>
{% endblock %}