{% extends "base.html" %}
{% block content %}

<main class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <p>Please use your email and password to log in!</p>
                <div class="my-5">
                    <form id="contactForm" method="POST">
                        {{form.hidden_tag()}}

                        <!-- Email Field -->
                        <div class="form-floating mb-3">
                            {{form.email(class="form-control", id="email", placeholder=form.email.label.text)}}
                            <label for="email">{{form.email.label.text}}</label>
                            <div class="invalid-feedback">An email is required.</div>
                        </div>

                        <!-- Password Field -->
                        <div class="form-floating mb-3">
                            {{form.password(class="form-control", id="password", placeholder=form.password.label.text)}}
                            <label for="password">{{form.password.label.text}}</label>
                            <div class="invalid-feedback">A password is required.</div>
                        </div>

                        <!-- Submit Button -->
                        <button class="btn btn-primary text-uppercase" type="submit">{{form.submit.label.text or 'Submit'}}</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>

{% endblock %}
